* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuhet MS', sans-serif;
}

main,
footer {
    text-align: center;
}

.capsCircle,
.shiftCircle {
    background: #F00;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inherit;
}

.switch-ctnr {
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.LD,
.AQ {
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    transition: .4s;
}

input:checked+.slider {
    background-color: cadetblue;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

section {
    width: 100%;
    height: 100vh;
}

form {
    width: 100%;
    height: 100%;
    padding: 25px;
    margin: auto;
}

form .screen {
    width: 100%;
    height: 40%;
    place-items: center;
    display: grid;
}

.screen textarea {
    width: 60%;
    height: 100%;
    background-color: rgba(32, 12, 121, 0.657);
    outline: none;
    border: 8px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rbg(0, 0, 0, 0.5), O O 1Opx rgb(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 1.4rem;
    padding-top: 10px;
    letter-spacing: 3px;
    padding-left: 10px;
    resize: none;
}

form .key_div {
    width: 70%;
    height: 50%;
    margin: auto;
    background-color: #FFF;
    position: relative;
    top: 5%;
    border: 5px solid #FFF;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
}

.btn {
    width: 5.5%;
    height: 15%;
    position: relative;
    left: 1%;
    margin: 5px 1px;
    border-radius: 4px;
    border: none;
    border: 1px solid rgb(0, 0, 0, 0.3);
    outline: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #FFF;
    transition: 100ms;
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.6);
    top: 15px;
}

.btn:hover {
    /* transform: scale(.9); */
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
}

.delete {
    width: 8% !important;
}

.tab {
    width: 8% !important;
}

.caps {
    width: 9.5% !important;
}

.enter {
    width: 8% !important;
}

.shift {
    width: 7% !important;
}

.shiftBig {
    width: 7%!important;
}

.space {
    width: 30% !important;
    display: block;
    margin: 5px auto;
}