@charset "utf-8";
* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* max-width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */

}
.container {
   max-width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

}
.topbar {
    background: #21729F;
    width: 100%;
    color: #FEFBFB;
    padding: 20px 0;
    
    
   
    
}
.center {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;  

}   
.logo {
    font-weight: 700;
    font-size: 1.5rem;
    align-self: center;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
   
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: #FEFBFB ;
    
}
ul li:first-child {
    margin-right: 50px;
}
 /* ****clavier***** */
 
 .clavier-virtuel {
     display: flex;
     flex-direction: column;
     background-color: #222;
     padding: 15px;
     border-radius: 5px;
     box-shadow: 0 5px #000;
 }
 .ecran-sasi {
     width: 100%;
     background: rgb(198, 237, 255);
     height: 200px;
     width: 100%;
    
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     font-size: 25px;
     padding: 5px;
     border-radius: 5px;
 }
 .touches-claviers {
     display: grid;
     margin: 20px;
     grid-template-columns: repeat(14, 50px);
     grid-template-rows: repeat(5, 50px);
     grid-gap: 10px;
     position: relative;
 }
 button {
     border: none;
     border-radius: 5px;
     outline: none;
     background-color: #f7f7f7;
     font-size: 18px;
     box-shadow: 0 3px #aa88aa;
 }
 button:active {
     box-shadow: 0 1px #a8a8a8;
     transform: translateY(2px);
 }
 .btn1 {
     grid-column: 2;
     grid-row: 1;
 }
 .btn2 {
    grid-column: 3 ;
    grid-row: 1;
}
.btn3 {
    grid-column: 4;
    grid-row: 1;
}
.btn4 {
    grid-column: 5;
    grid-row: 1;
}
.btn5 {
    grid-column: 6;
    grid-row: 1 ;
}
.btn6 {
    grid-column: 7;
    grid-row: 1;
}
.btn7 {
    grid-column: 8;
    grid-row: 1;
}
.btn8 {
    grid-column: 9;
    grid-row: 1;
}
.btn9 {
    grid-column: 10;
    grid-row: 1;
}
.btn10 {
    grid-column: 11;
    grid-row: 1;
}
.btn-del {
    grid-column: 12 /span 2;
    grid-row: 1;
}
.btn11 {
    grid-column: 2;
    grid-row: 2;
}
.btn12 {
    grid-column: 3;
    grid-row: 2;
}
.btn13 {
    grid-column: 4;
    grid-row: 2;
}
.btn14 {
    grid-column: 5;
    grid-row: 2;
}
.btn15 {
    grid-column: 6;
    grid-row: 2;
}
.btn16 {
    grid-column: 7;
    grid-row: 2;
}
.btn17 {
    grid-column: 8;
    grid-row: 2;
}
.btn18 {
    grid-column: 9;
    grid-row: 2;
}
.btn19 {
    grid-column: 10;
    grid-row: 2;
}
.btn20 {
    grid-column: 11;
    grid-row: 2;
}
.btn-enter {
    grid-column: 12 / span 2;
    grid-row: 2;

}
.btn-caps {
    grid-column: 2 / span 2;
    grid-row: 3;
}
.active-caps::after {
    content: '';
    top: 10px;
    left: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, .4);
    border-radius: 50%;
}
.active-caps::after {
    background: #08ff00;
}
.btn21 {
    grid-column: 4;
    grid-row: 3;
}
.btn22 {
    grid-column: 5;
    grid-row: 3;
}
.btn23 {
    grid-column: 6;
    grid-row: 3;
}
.btn24 {
    grid-column: 7;
    grid-row: 3;
}
.btn25 {
    grid-column: 8;
    grid-row: 3;
}
.btn26 {
    grid-column: 9;
    grid-row: 3;
}
.btn27 {
    grid-column: 10;
    grid-row: 3;
}
.btn28 {
    grid-column: 11;
    grid-row: 3;
}
.btn29 {
    grid-column: 12;
    grid-row: 3;
}
.btn30 {
    grid-column: 13;
    grid-row: 3;
}
.btn-shift{
    grid-column: 2 / span 2;
    grid-row: 4;
}

.btn31 {
    grid-column: 4;
    grid-row: 4;
}
.btn32 {
    grid-column: 5;
    grid-row: 4;
}
.btn33 {
    grid-column: 6;
    grid-row: 4;
}
.btn34 {
    grid-column: 7;
    grid-row: 4;
}
.btn35 {
    grid-column: 8;
    grid-row: 4;
}
.btn36 {
    grid-column: 9;
    grid-row: 4;
}
.btn37 {
    grid-column: 10;
    grid-row: 4;
}
.btn38 {
    grid-column: 11;
    grid-row: 4;
}
.btn39 {
    grid-column: 12;
    grid-row: 4;
}
.btn40 {
    grid-column: 11;
    grid-row: 4;
}

 .buton-special-nuit {
    grid-column:  2 /span 2;
    grid-row: 4;
 }
 .buton-space {
     grid-column: 5 / span 6;
     grid-row: 5;
 }
 
.footer {
   
    width: 100%;
    background-color: #21729F;
    padding: 20px 0;
    /* position: fixed;
    left: 0;
    bottom: 0; */
}
.footer ul {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer ul li a {
    font-size: 1.3rem;
    font-weight: 500;
}

